<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <h1>숭실대 근처 병원 정보 챗봇입니다.</h1>
    <h2>어떤 증상이 있으신가요?</h2>
    <a href="{% url 'home' %}"><button>홈</button></a>


</head>
<body>


    <form action="{% url 'userin' %}" method="GET">
        {% csrf_token %}
        <div>
            <input type="text" name='query' id="query", placeholder="ex) 눈이 아파요">
            <button type="submit">입력</button>
        </div>


    </form>
    <hr>

    {% if response != NULL %}


        {% for i in response %}
            <h2>{{i.suggest}}</h2>
            {% if i.suggest != NULL %}

                <form action="{% url 'userin' %}" method="GET">
                    {% csrf_token %}
                    <div>
                        <input type="text" name='query' id="query", placeholder="ex)근처에 안과 있나요?">
                        <button type="submit">입력</button>
                    </div>


                </form>
            {% endif %}

            <div>
                <h4>{{i.name}}</h4>

            </div>

            <div>
                {{i.location}}
            </div>
            <div>
                {{i.call}}
            </div>
            <div>
                {{i.time}}
            </div>
            <div>
                <a href="{{response.link}}">{{i.link}}</a>
            </div>
            <hr>
        {% endfor %}
    {% endif %}
</body>
</html>